#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        keyboard_layer {
            bindings = <
    &kp HASH    &kp T    &kp P    &kp H    &kp STAR            &kp STAR    &kp F    &kp P    &kp L    &kp T    &kp D
    &kp S       &kp K    &kp W    &kp R    &kp STAR            &kp STAR    &kp R    &kp B    &kp G    &kp S    &kp Z
                                  &kp A    &kp O               &kp E       &kp U 
            >;
        };
    };
};
