#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define KEYBOARD 0
#define PLOVER 1
#define CONFIG 2

/ {
    combos {
            compatible = "zmk,combos";
            combo_config_layer {
                timeout-ms = <50>;
                key-positions = <4 5 15 16>;
                bindings = <&mo CONFIG>;
            };
            combo_ble_clear {
                timeout-ms = <1000>;
                key-positions = <0 1 2 3>;
                bindings = <&bt BT_CLR>;
                layers = <CONFIG>
            };
            combo_soft_off {
                timeout-ms = <1000>;
                key-positions = <0 11>;
                bindings = <&soft_off>;
                layers = <CONFIG>
            };
        };
    keymap {
        compatible = "zmk,keymap";
        keyboard_layer {
            bindings = <
    &kp HASH    &kp T    &kp P    &kp H    &kp STAR            &kp STAR    &kp F    &kp P    &kp L    &kp T    &kp D
    &kp S       &kp K    &kp W    &kp R    &kp STAR            &kp STAR    &kp R    &kp B    &kp G    &kp S    &kp Z
                                  &kp A    &kp O               &kp E       &kp U 
            >;
        };
        plover_layer {
            bindings = <
    &kp HASH    &kp T    &kp P    &kp H    &kp STAR            &kp STAR    &kp F    &kp P    &kp L    &kp T    &kp D
    &kp S       &kp K    &kp W    &kp R    &kp STAR            &kp STAR    &kp R    &kp B    &kp G    &kp S    &kp Z
                                  &kp A    &kp O               &kp E       &kp U 
            >;
        };
        config_layer {
            bindings = <
    &none    &none    &none    &none    &none                &none    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
    &none    &none    &none    &none    &none                &none    &none        &none        &none        &none        &none
                               &to STENO &to PLOVER          &out OUT_BLE   &out OUT_USB 
            >;
        };
    };
};
